/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
.container{

    background-color:#FFFFFF;
    width: 870px;
    border-radius: 5px;
    padding:30px 30px 40px 32px;
    margin-top:21px;
    
   
}
/* top players style */
.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    margin-top:3px;
}
.players{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:10px;
    /* grid-template-columns: 1fr 1fr 1fr; */
}
hr{
    border:1px solid #D1D1D1;
    margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.player img{
    width:56px;
    height:56px;
}
.player-name{
    font-weight: 500;
    font-size: 18px;
    /* line-height: 27px; */
    color:#000000;
    text-transform: capitalize;
    margin-left: 16px;
}

/*----------------------
 top blog styles start 
 -----------------------*/

 .blogs{
     display: grid;
     grid-template-columns:repeat(2, 1fr);
     grid-row-gap:26px;
     grid-column-gap:60px;
 }
.blog{
    display: flex;
}
 .blog .thambnail img{

    width: 177px;
    height: 117px;
 }
 .blog-info{
     margin-left: 16px;
 }
 .blog-author{
     font-size: 16px;
     font-weight: 400;
     color: #9F9F9F;
     margin-top:-5px;
 }
 .blog-author a{
     text-decoration: none;
     font-size: 16px;
     color:#562EFF;
 }
 .blog-title{

    font-size: 20px;
    font-weight: 500;

 }
 /* courses style */

 .courses{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap:21px;
 }
 .course{

    box-shadow: 2px 2px 20px #aaaaaa;
    
    width:252.42px;
    border-radius: 10px;
    padding-left: 25px;
    padding-top:20px;
    padding-bottom:20px;
 }
 .course .course-banner img{

    width:224px;
    height:104px;
 }
 .course-info{
     display: flex;
     align-items:center
 }
 .course-author{

    font-weight: 400;
    font-size: 14.69px;
    color:#ED6B4F;

 }
 .number{
     color:#A2A2A2;
     font-size:14.69px;
     font-weight: 400;

 }

 .fa-star{
     font-size: 12px;
 }

 .fa-star.filled{
     color:#FFC014;

 }

 .fa-star.ed{
     color: #AEAEAE;
     margin-right: 10px;

 }
 .course-deoration{
     margin-left: 21px;
     background-color:#FFE4E8;
     color:#FF4A60;
     padding:5px 10px;
     border-radius: 30px;
     font-size: 14px;
     font-weight: 600;
 }

 .fa-clock{
     margin-right:5.42px ;
 }

 /* Mobile Devices */

 @media only screen and (max-width:688px) {
     
    .container{
        width:100%;
    }
    .players, .blogs, .courses{
      
        grid-template-columns: repeat(1, 1fr);

    }

    .section-title{
        text-align: center;
    }

    .blogs{
        margin-left: 50px;
    }

    .courses .course{

        margin-left: 50px;
        margin-bottom: 20px;
    }

    .player, .blog{
        flex-direction: column;
    }

    
 }

 /* tablet devies */

 @media only screen and (min-width:688px) and (max-width:992px) {
   .container{
       width:100%;
   }
   .players{

    margin-left: 30px;
   }
       .players, .courses{
           
        grid-template-columns: repeat(2, 1fr);
     
       }
       .courses{
           margin-left: 30px;
       }

       .blogs{
           
        grid-template-columns: repeat(1, 1fr);
     
       }
       .blogs{
           margin-left: 30px;
       }